body{
    margin: 0;
    font-family: Unbounded;
}


.heading{
    background-color: #E7A15A;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-block-start: 0;
}




h1{
    text-align: center;
    margin-top: 50px;
    color: white;
}

.catalog_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    background-color: #D9D9D9;
   
}

.catalog_filter form {
    display: flex;
    align-items: center;
    gap: 100px; 
    margin-top: 3px;
}

.catalog_filter select,
.catalog_filter input {
    padding: 0.5em 1em;
    font-size: 15px;
    border-radius: 10px;
}

