body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f8f8f8;
}

h2, h3, h4 {
    color: #140808;
}

form, table {
    margin-top: 20px;
}

input[type="text"], input[type="password"], select {
    padding: 8px;
    width: 300px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0778ea;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4b6679;
}

table {
    background-color: rgb(0, 0, 0);
    border-collapse: collapse;
    width: 80%;
}

th {
    background-color: #234c67;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #bd8585;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 8px 0;
}

a {
    text-decoration: none;
    color: #007acc;
}

a:hover {
    text-decoration: underline;
}
