body{
    
}

header{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.img_account{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img_account>img{
    border-radius: 25px;
}

.img_account>button{
    margin-top: 20px;
    margin-left: 100px;
}


.text_account{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}