

.profile{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.img_account{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img_account>img{
    border-radius: 25px;
}

.img_account>button{
    margin-top: 20px;
    margin-left: 100px;
}


.text_account{
    display: flex;
    flex-direction: column;
}


.pop_up{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}

.pop_up.openwin{
    transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.8);
}

.pop_up_container{
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body{
    margin: auto;
    width: 500px;
    background-color: #E8B36D;
    border-radius: 10px;
    text-align: center;
    padding: 40px 15px 40px 15px;
    position: relative;
}

.pop_up_body p{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
}

.pop_up_body input{
    display: block;
    margin: 10px auto 0px auto;
    width: 338px;
    padding: 17px 20px;
    background-color: white;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.pop_up_body input:focus{
    outline: none;
}

.pop_up_body button{
    cursor: pointer;
    display: block;
    width: 330px;
    margin: 60px auto 0px auto;
    padding: 20px 0px;
    font-family: Unbounded;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #7C6363;
}

.pop_up_close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
    color: white;
}